workflows/news generator/news-generator.json
{
  "name": "AI Generate News",
  "nodes": [
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search?q=example&apikey=5263ba6dac75c314db4ea8245cdc8d47",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI Automations"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "apikey",
              "value": "5263ba6dac75c314db4ea8245cdc8d47"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        -144
      ],
      "id": "ef3d67ac-4d2a-41dd-8c0e-6e735c88a044",
      "name": "GNews Reference"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "20"
            },
            {
              "name": "q",
              "value": "AI Automation"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "0fc83ead1f01479aa2f0af75eaa99d4b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        112
      ],
      "id": "ff4ca9c1-ffbb-4dcf-8b7f-2cd56762668a",
      "name": "NewsAPI Reference"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a59307a4-5ea7-4193-be78-29bd1d745d57",
              "name": "articles",
              "value": "={{ $json.articles }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -144
      ],
      "id": "b7a8141f-f7d2-4aa7-a79e-659bdb5083f1",
      "name": "Gnews Mapping"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dfd372e-9372-4924-9eba-24f4a1c377af",
              "name": "articles",
              "value": "={{ $json.articles }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        112
      ],
      "id": "d0d84a34-1c86-4222-b0db-7ec0f262b584",
      "name": "News API Mapping"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        0
      ],
      "id": "075e9ceb-424b-4e34-8bf5-74422a1f8924",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=** Select Top Articles **\nFrom {{ $json.articles }}, choose the 15 most relevant articles related to AI technology advancements, \ntools, research, and applications.\n** Summarize Clearly **\nWrite in clear, professional, and readable language, \nsummarizing the main point of each article in 1 short sentences.\n** Include Links **\nAfter each summary, add the article's URL for readers to explore more.\n** Add the Date **\nBegin the message with todayʼs date:\n{{ $now.format('yyyy/MM/dd') }}\n\n** Add numbers and space **\nBegin the summary with number and break a line after one summary\n\n(e.g \n\n1. Article 1\n\n2. Article 2\n\n)",
        "options": {
          "systemMessage": "** Output Format **\nOnly return the summary in plain text – no explanations or additional formatting. \nKeep the response up to 2000 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1072,
        0
      ],
      "id": "7bfe4861-79fa-49e6-9a6d-f6d308f6f387",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        176
      ],
      "id": "aea9a885-2ff4-4285-9c34-d3bad788ef07",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MYUjhE4drXawv1T9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5225131100",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        0
      ],
      "id": "49dcd0db-0bcc-4329-b099-3cb2f4188a22",
      "name": "Send a text message",
      "webhookId": "6ff5936f-9440-4ce9-829c-d9aa72af4904",
      "credentials": {
        "telegramApi": {
          "id": "QPSdoapJoRfbz8lc",
          "name": "News Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c7376b04-613d-42e4-ba3f-bd274f65e410",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "GNews Reference": {
      "main": [
        [
          {
            "node": "Gnews Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsAPI Reference": {
      "main": [
        [
          {
            "node": "News API Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gnews Mapping": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News API Mapping": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GNews Reference",
            "type": "main",
            "index": 0
          },
          {
            "node": "NewsAPI Reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b87251b-507b-4223-863d-54bff297d29f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36953460a278abef3de99a87013cb75f82290db4368cc0e287704411a4000996"
  },
  "id": "tmjWUpTm6nxEzltU",
  "tags": [
    {
      "createdAt": "2025-08-15T18:21:27.828Z",
      "updatedAt": "2025-08-15T18:21:27.828Z",
      "id": "XckpOpvRF71uxfKZ",
      "name": "gnews"
    },
    {
      "createdAt": "2025-08-15T18:21:33.224Z",
      "updatedAt": "2025-08-15T18:21:33.224Z",
      "id": "d2BmDuJyqnWbrOfZ",
      "name": "newsapi"
    },
    {
      "createdAt": "2025-08-15T16:10:48.346Z",
      "updatedAt": "2025-08-15T16:10:48.346Z",
      "id": "Mx4HWZUsnpuCYppn",
      "name": "gemini"
    },
    {
      "createdAt": "2025-08-15T16:10:38.387Z",
      "updatedAt": "2025-08-15T16:10:38.387Z",
      "id": "VXEwiDCQMMRZe1OZ",
      "name": "telegram"
    }
  ]
}